name: CI/CD - Student Application

on:
  pull_request:
    branches:
      - main
      - feature/test-workflow

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Récupérer le code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Installer Docker (utile si runner n'a pas Docker)
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      # 3️⃣ Déployer sur EC2 via SSH
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.NEW_EC2_PUBLIC_IP }}      # adresse de ta nouvelle EC2
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}             # clé privée SSH stockée dans Secrets
          port: 22
          script: |
            cd ~/ProjetDEVOPS                       # répertoire du projet sur EC2
            git pull origin feature/test-workflow   # récupérer le dernier code de la branche
            docker-compose up -d --build            # reconstruire et relancer les conteneurs
